{% extends 'front/base.html' %}
{% load static %}
{% block meta %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
      content="Hardkode Technologies is a professionally managed dynamic Web and App Development Company based in Odisha, India.">
<meta name="keywords"
      content="Hardkode, Coding, Solutions, Technologies, Python, PHP, NodeJS, ReactJS, App Development, Website Development">
<meta name="author" content="Hardkode Technologies">
<title>Services - Hardkode Technologies</title>
{% endblock %}

{% block content %}
<section class="wrapper bg-soft-primary">
    <div class="container pt-10 pb-10 pt-md-12 pb-md-15 text-center">
        <div class="row">
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <div class="post-header">
                    <div class="post-category text-line">
                        <a href="{% url 'service' %}" class="hover" rel="category">Service</a>
                    </div>
                    <h1 class="display-1 mb-3">Web Development</h1>
                    <p class="lead px-md-12 px-lg-12 px-xl-15 px-xxl-18">Check out some of my latest projects with creative ideas.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="wrapper bg-light">
    <div class="container py-10 pt-md-10 pb-md-5 text-center">
        <h2 class="display-4 mb-3">Our Pricing</h2>
        <p class="lead fs-lg">We offer <span class="underline">great prices</span>, premium and quality products for your business.</p>
        <div class="table-responsive">
            <table class="table table-borderless table-striped text-center">
                <thead>
                <tr>
                    <th class="w-25"></th>
                    <th>
                        <div class="h4 mb-1">Gold Plan</div>
                        <div class="fs-20 fw-normal text-primary">$499</div>
                    </th>
                    <th>
                        <div class="h4 mb-1">Premium Plan</div>
                        <div class="fs-20 fw-normal text-primary">$999</div>
                    </th>
                    <th>
                        <div class="h4 mb-1">Custom Plan</div>
                        <div class="fs-20 fw-normal text-primary">$Custom</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="option text-start">Modern Web Designs</td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                </tr>
                <tr>
                    <td class="option text-start">Beautiful Landing Page</td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                </tr>
                <tr>
                    <td class="option text-start">Business Email</td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                </tr>
                <tr>
                    <td class="option text-start">Site Map Integration</td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                </tr>
                <tr>
                    <td class="option text-start">Social Media Integration</td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                </tr>
                <tr>
                    <td class="option text-start">Cross Browser Compatibility</td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                </tr>
                <tr>
                    <td class="option text-start">Mobile friendly</td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                </tr>
                <tr>
                    <td class="option text-start">SEO Optimized</td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                </tr>
                <tr>
                    <td class="option text-start">Free SSL</td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                </tr>
                <tr>
                    <td class="option text-start">Membership Feature</td>
                    <td><i class="uil uil-times bullet-soft-red bg-pale-red text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-times bullet-soft-red bg-pale-red text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                </tr>
                <tr>
                    <td class="option text-start">Multi-lingual feature</td>
                    <td><i class="uil uil-times bullet-soft-red bg-pale-red text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-times bullet-soft-red bg-pale-red text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                </tr>
                <tr>
                    <td class="option text-start">Payment Gateway Integration</td>
                    <td><i class="uil uil-times bullet-soft-red bg-pale-red text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                </tr>
                <tr>
                    <td class="option text-start">Shopping Cart Feature</td>
                    <td><i class="uil uil-times bullet-soft-red bg-pale-red text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                </tr>
                <tr>
                    <td class="option text-start">Advanced Web Security</td>
                    <td><i class="uil uil-times bullet-soft-red bg-pale-red text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-times bullet-soft-red bg-pale-red text-primary rounded-circle p-1"></i></td>
                    <td><i class="uil uil-check bg-pale-primary text-primary rounded-circle p-1"></i></td>
                </tr>

                </tbody>
                <tfoot>
                <tr>
                    <th class="w-25"></th>
                    <th><a href="#" class="btn btn-soft-primary rounded-pill mt-1">Choose Plan</a></th>
                    <th><a href="#" class="btn btn-soft-primary rounded-pill mt-1">Choose Plan</a></th>
                    <th><a href="#" class="btn btn-soft-primary rounded-pill mt-1">Choose Plan</a></th>
                </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->





{% endblock %}