{% extends 'front/base.html' %}
{% load static %}
{% block meta %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
      content="Hardkode Technologies is a professionally managed dynamic Web and App Development Company based in Odisha, India.">
<meta name="keywords"
      content="Hardkode, Coding, Solutions, Technologies, Python, PHP, NodeJS, ReactJS, App Development, Website Development">
<meta name="author" content="Hardkode Technologies">
<title>Testimonials - Hardkode Technologies</title>
{% endblock %}

{% block content %}
<section class="wrapper bg-soft-primary">
    <div class="container pt-10 pb-10 pt-md-14 pb-md-15 text-center">
        <div class="row">
            <div class="col-md-8 col-lg-7 col-xl-6 col-xxl-5 mx-auto mb-11">
                <h1 class="display-1 mb-3">Testimonials</h1>
                <p class="lead px-lg-7 px-xl-7 px-xxl-6">We are a creative company that focuses on establishing <span
                        class="underline">long-term relationships</span> with clients.</p>
            </div>
        </div>
    </div>
</section>
<section class="wrapper bg-light angled upper-end">
    <div class="row mb-8">
        <div class="col-12 mt-n20">
            <div class="container-card pt-14 pt-md-16">
                <div class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-light-500 pb-15"
                     data-image-src="{% static '/assets/img/photos/bg22.png' %}">
                    <div class="card-body py-14 px-0">
                        <div class="container">
                            <div class="row gx-lg-8 gx-xl-12 gy-10 gy-lg-0">
                                <div class="col-lg-4 text-center text-lg-start">
                                    <h3 class="display-4 mb-3 pe-xxl-15">We are proud of our works</h3>
                                    <p class="lead fs-lg mb-0 pe-xxl-10">We bring solutions to make life easier for
                                        our
                                        customers.</p>
                                </div>
                                <div class="col-lg-8 mt-lg-2">
                                    <div class="row align-items-center counter-wrapper gy-6 text-center">
                                        <div class="col-md-4">
                                            <img src="{% static '/assets/img/icons/solid/target.svg' %}"
                                                 class="svg-inject icon-svg icon-svg-sm solid-duo text-grape-fuchsia mb-3"
                                                 alt="Completed Project"/>
                                            <h3 class="counter">107+</h3>
                                            <p class="mb-0">Completed Projects</p>
                                        </div>
                                        <div class="col-md-4">
                                            <img src="{% static '/assets/img/icons/solid/bar-chart.svg ' %}"
                                                 class="svg-inject icon-svg icon-svg-sm solid-duo text-grape-fuchsia mb-3"
                                                 alt="Revenue Growth"/>
                                            <h3 class="counter">4x</h3>
                                            <p class="mb-0">Revenue Growth</p>
                                        </div>
                                        <div class="col-md-4">
                                            <img src="{% static '/assets/img/icons/solid/employees.svg ' %}"
                                                 class="svg-inject icon-svg icon-svg-sm solid-duo text-grape-fuchsia mb-3"
                                                 alt="Customer Satisfaction"/>
                                            <h3 class="counter">99.9%</h3>
                                            <p class="mb-0">Customer Satisfaction</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="wrapper bg-light angled upper-end">
    <div class="container">
        <div class="grid mb-10">
            <div class="row isotope gy-6 mt-n18">
                <div class="grid">
                    <div class="row isotope gy-6">
                        {% for testimonials in all_testimonials %}
                        <div class="item col-md-6 col-xl-4">
                            <div class="card shadow-lg card-border-bottom border-soft-primary">
                                <div class="card-body">
                                    <blockquote class="icon mb-0">
                                        <p>{{testimonials.message|safe}}</p>
                                        <div class="blockquote-details">
                                            <img class="rounded-circle w-12"
                                                 src="{{testimonials.client.userprofile.picture.url}}"
                                                 alt="{{testimonials.client.full_name}}"/>
                                            <div class="info">
                                                <h5 class="mb-1">{{testimonials.client.full_name}}</h5>
                                                <p class="mb-0">
                                                    {{testimonials.client.userprofile.designation}}
                                                    {% if testimonials.client.userprofile.company_name %}
                                                    - {{testimonials.client.userprofile.company_name}}
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="wrapper bg-light">
    <div class="container py-14 py-md-10">
        <div class="card bg-soft-primary rounded-4">
            <div class="card-body p-md-10 p-xl-11">
                <div class="row gx-lg-8 gx-xl-12 gy-10">
                    <div class="col-lg-6">
                        <h3 class="display-4 mb-4">Frequently Asked Questions</h3>
                        <p class="lead fs-lg mb-0">If you don't see an answer to your question, please send us a message through <a href="{% url 'contact' %}" target="_self">contact form</a>.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="accordion accordion-wrapper" id="accordionExample">
                            <div class="card plain accordion-item">
                                <div class="card-header" id="headingFour">
                                    <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                            aria-expanded="false" aria-controls="collapseFour">How do I reset my Account
                                        password?
                                    </button>
                                </div>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                     data-bs-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>You will find a "Forgot Password" link in our Login Page. Any issues with invoices, please send us a message through <a href="{% url 'contact' %}" target="_self">contact form</a>.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card plain accordion-item">
                                <div class="card-header" id="headingOne">
                                    <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">How do I get my
                                        subscription invoice?
                                    </button>
                                </div>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                     data-bs-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Login to your account and go to invoices section to download all your invoices. Any issues with invoices, please send us a message through <a href="{% url 'contact' %}" target="_self">contact form</a>. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card plain accordion-item">
                                <div class="card-header" id="headingTwo">
                                    <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">Are there any discounts
                                        for people in need?
                                    </button>
                                </div>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                     data-bs-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Yes, you will get 20% discount on all services. Please use the coupon code <strong>DISHK10</strong></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card plain accordion-item">
                                <div class="card-header" id="headingThree">
                                    <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">Do you offer a special discount for NGO?
                                    </button>
                                </div>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                     aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Yes, if you run a NGO, then we you 80% discount on all services. Please use the coupon code <strong>DISHK80</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}